/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.side-nav mdb-accordion-item-head h5  {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.side-nav .collapsible .fas {
  font-size: 1.3rem !important;
  margin-right: 13px;
}
.side-nav .collapsible .card {
  padding: 10px !important;
}
.side-nav .collapsible .card-body li a {
  background-color: rgba(0,0,0,.15);
  color: #fff;
  display: block;
  font-size: 1.1rem !important;
  font-weight: 300;
  height: 55px !important;
  line-height: 32px;
  padding-left: 47px;
  padding-top: 10px;
}

.stylish-color {
  background-color: #2c3e50!important;
}

//CSS Style Component Author
.fixed-top-author{
  position: fixed;
  top: 55px !important;
  right: 0;
  left: 0;
  z-index: 1030;
  max-height: 60px;
}
.fas-author {
  font-size: 25px;
  margin-left: 10px;
}
// End Style CSS Author
//Alert
#toast-container > mdb-toast-component {
  opacity: .8 !important;
}
.md-toast-top-right {
  top: 72px !important;
}
