<div class="main-container">
  <div class="login-form">
    <div class="logo">
      <form *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>

        <span class="h4 mb-4">Sign up</span>

        <div class="md-form mb-5">
          <input type="text" id="Form-name" class="form-control"
                 name="name"
                 [(ngModel)]="form.name"
                 mdbInput
                 mdbValidate
                 [formControl]="modalFormElegantName">
          <label for="Form-name">Name</label>
          <mdb-error
            *ngIf="modalFormElegantName.invalid && (modalFormElegantName.dirty || modalFormElegantName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantName.valid && (modalFormElegantName.dirty || modalFormElegantName.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <input type="text" id="Form-lastName" class="form-control"
                 name="lastname"
                 [(ngModel)]="form.lastName"
                 mdbInput
                 mdbValidate
                 [formControl]="modalFormElegantLastName">
          <label for="Form-lastName">Last Name</label>
          <mdb-error
            *ngIf="modalFormElegantLastName.invalid && (modalFormElegantLastName.dirty || modalFormElegantLastName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantLastName.valid && (modalFormElegantLastName.dirty || modalFormElegantLastName.touched)">
            Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <input type="email" id="Form-email1" class="form-control"
                 name="email"
                 [(ngModel)]="form.email"
                 mdbInput
                 mdbValidate
                 [formControl]="modalFormElegantEmail">
          <label for="Form-email1">Your email</label>
          <mdb-error
            *ngIf="modalFormElegantEmail.invalid && (modalFormElegantEmail.dirty || modalFormElegantEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantEmail.valid && (modalFormElegantEmail.dirty || modalFormElegantEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form pb-3">
          <input type="password" id="Form-pass1" class="form-control"
                 name="password"
                 [(ngModel)]="form.password"
                 mdbInput
                 mdbValidate
                 [formControl]="modalFormElegantPassword">
          <label for="Form-pass1">Your password</label>
          <mdb-error
            *ngIf="modalFormElegantPassword.invalid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantPassword.valid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
            Input valid
          </mdb-success>
        </div>

        <div class="text-center mb-3">
          <button class="btn btn-info btn-block my-4"
                  type="submit">Sign up
          </button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br/>{{ errorMessage }}
        </div>

        <p class="font-small grey-text d-flex justify-content-end">Already signed up ?
          <a class="blue-text ml-1" [routerLink]="['/home']"> Sign In</a>
        </p>

      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful !
      </div>
    </div>
  </div>
</div>
