

<section class="mt-lg-5">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon far icon="address-book" class="primary-color"></mdb-icon>
          <div class="data">
            <p style="font-size: 20px">AUTHORS</p>
            <h4><strong>{{countAuthors}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="users" class="warning-color"></mdb-icon>
          <div class="data">
            <p style="font-size: 20px">USERS</p>
            <h4><strong>{{countUsers}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="book-open" class="light-blue lighten-1"></mdb-icon>
          <div class="data">
            <p style="font-size: 20px">BOOKS</p>
            <h4><strong>{{countBooks}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="calendar-check" class="red accent-2"></mdb-icon>
          <div class="data">
            <p style="font-size: 20px">RESERVATIONS</p>
            <h4><strong>{{countReservations}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
