<div class="container">
  <div class="row">
    <div class="col-6 col-md-4">
      <!--Card-->
      <mdb-card cascade="true" narrower="true">

            <div class="box">

              <img [src]="newImageUser" class="js--image-preview" *ngIf="isNewImageUser">
              <img [src]="imageUser" class="js--image-preview" *ngIf="!isNewImageUser">

              <div class="upload-options">
                <label>
                  <i class="fas fa-search-plus search-style"></i>
                  <input  class="image-upload" type="file" accept="image/*" name="profilePhoto"
                          (change)="showPreviewImageProfile($event)">
                </label>
              </div>
            </div>
            <!--/Card image-->
            <mdb-card-body cascade="true" class="text-center">

              <span class="form-control text-danger" *ngIf="isNewImageUser">{{message}}</span>


              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <mdb-icon class="prefix grey-text" fas icon="user"></mdb-icon>
                    <label class="col-sm-8" for="firstName">First Name</label>
                    <input class="form-control" id="firstName" type="text" disabled
                    [value]="currentUser.name">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <mdb-icon class="prefix grey-text" fas icon="user"></mdb-icon>
                    <label class="col-sm-8" for="lastName">Last name</label>
                    <input class="form-control" id="lastName" type="text" disabled
                    [value]="currentUser.lastName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <mdb-icon class="prefix grey-text" fas icon="envelope"></mdb-icon>
                    <label class="col-sm-8" for="type">Email</label>
                    <input class="form-control" id="type" type="text" disabled
                    [value]="currentUser.email">
                  </div>
                </div>
              </div>

              <button mdbBtn mdbWavesEffect style="background: brown; color: white"
                      rounded="true" (click)="update()">Update</button>

            </mdb-card-body>
            <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>


    <!--CARD TABLE WITH RESERVATIONS-->
    <div class="col col-md-8">
      <mdb-card cascade="true" narrower="true">

        <div class="view view-cascade gradient-card-header blue-gradient card-header-custom-height">
          <h2 class="card-header-title">List of Reservations:</h2>
        </div>

        <mdb-card-body>

          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="md-form">
                    <input
                      type="text"
                      [(ngModel)]="searchText"
                      class="form-control"
                      id="search"
                      mdbInput
                    />
                    <label for="search">Search</label>
                  </div>
                </div>
              </div>
              <table mdbTable class="z-depth-1">
                <thead>
                <tr>
                  <th
                    *ngFor="let head of headElements; let i = index"
                    scope="col">
                    {{head}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let el of elements | paginate: {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count}; let i = index">
                  <th scope="row">{{el.book}}</th>
                  <td>{{el.client}}</td>
                  <td>{{el.startDate}}</td>
                  <td>{{el.endDate}}</td>
                  <td>{{el.reservationState}}</td>
                </tr>
                </tbody>
              </table>

              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                responsive="true"
                (pageChange)="handlePageChange($event)"
              >
              </pagination-controls>
            </div>
          </div>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>


