
<header>

  <mdb-side-nav #sidenav [fixed]="true" class="fixed stylish-color">

    <mdb-navbar-brand class="img-center">
      <!-- Logo -->

      <img src="/assets/images/logo.png" style="max-height: 120px; max-width: 120px;">
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect [routerLink]="['/dashboard']">
                <mdb-icon fas icon="home"></mdb-icon>
                Home
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect routerLink="reservation">
                <mdb-icon fas icon="calendar-check"></mdb-icon>
                Reservations
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect routerLink="author">
                <mdb-icon fas icon="address-book"></mdb-icon>
                Authors
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect routerLink="book">
                <mdb-icon fas icon="book"></mdb-icon>
                Books
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect routerLink="client">
                <mdb-icon fas icon="user-friends"></mdb-icon>
                Clients
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item *ngIf="showAdminBoard">
              <mdb-accordion-item-head mdbWavesEffect>
                <mdb-icon fas icon="cogs"></mdb-icon>
                Admin panel
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="user" mdbWavesEffect class="menu-item">Users</a>
                  </li>
                  <li>
                    <a routerLink="media" mdbWavesEffect class="menu-item">Media</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>

  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar
    SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav stylish-color text-white"
    [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse">
          <mdb-icon fas icon="bars"></mdb-icon>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="support">
            <mdb-icon fas icon="envelope"></mdb-icon>
            <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect>
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
            <span class="clearfix d-none d-sm-inline-block">Logout</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="profile" mdbWavesEffect
          (click)="sendToProfile(id)">

            <img class="avatar" [src]="profileImageAvatar">

            <span class="clearfix d-none d-sm-inline-block">{{email}}</span></a>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <router-outlet></router-outlet>
</main>
<!--/Main layout-->
